body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}




.profile-nav .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.3);
    display: inline-block;
}

.profile-nav .user-heading a img {
    width: 212px;
    height: 212px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
    font-size: 22px;
    font-weight: 300;
    margin-left: 70px;
}

.profile-nav .user-heading p {
    font-size: 42px;
    margin-left: 70px;
}



.profile-nav ul > li {
    border-bottom: 1px solid #b3b3b3;
    margin-top: 0;
    line-height: 30px;
}



.profile-nav ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
    border: 5px solid #fff;
}





.profile-nav ul > li > a > i{
    font-size: 16px;
    padding-right: 50px;
    color: #bcb3aa;
}












