.DriverList{
    background-color: rgb(247, 244, 244);
}

.list-Driver-item{
    background-color: white;
    margin-bottom: 10px;
    height: 60px;
    text-align: center;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    list-style-type: none;
    margin-left: -30px;
}

.scro{
    width: 100%;
    background-color: rgb(247, 244, 244);
}

.container{
    width: 100%;
}

#col-1_right{
    margin-left: 5%;
}

#col-2_left{
    margin-Right: 3%;
}


/* AddnewAnno */
.public{
    margin-top: 0%;
}
