*{
    background-color: rgb(247, 244, 244);
}

/* .pic{
    background-color: rgb(88, 88, 235);
} */

/* #cc{
    background-color: white;
} */

.AssignDrivers{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(87, 39, 39);
    color: greenyellow;
}

.container{
    padding: 100px;
}

.a-left{
    flex: 1;
}

.a-right{
    flex: 2;
}

.ViewOrders{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(39, 40, 87);
    color: rgb(234, 255, 47);
    font-weight: 400px;
}

.field{
    width: 100%;
    color:black;
    border-radius: 10px;
    padding-left: 20px;
    height: 35px;
    margin: 7px;
}

.field2{
    width: 100%;
    color:black;
    border-radius: 10px;
    padding-left: 20px;
    height: 35px;
    margin-top: 50px;
    margin-left: 7px;
}

.details{
    background-color: rgb(253, 253, 253);
    width: 200px;
    height: 100px;
    margin-left: 100px;
    border-radius: 20px;
    padding: 30px;
}

.VId{
    width: 150px;
    height: 60px;
    margin: auto;
    background-color: rgb(222, 228, 228);
    border-radius: 10px;
    margin-bottom: 10px;
}

.VId > span{
    background-color:rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.scro{
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 400px;
    overflow: scroll;
}

/* Admin part Css - annonsment*/





.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}
.imageBox{
    background-color: red;
    width: 50px;
    height: 50px;
}

.img{
    border-radius: 60px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.RightButtons{
    margin-bottom: 15px;
    height: 100px;
}

span{
  
    padding: 10px;
    margin-bottom: -10px;
    text-align: center;
}

