*{
  background-color: #F4F5F7 ;
}

.container{
  background-color:#F4F5F7;
  width: 1000px;
  height: 600px;
  padding: 0px;
   margin-left: 10%;
   margin-top: 50px;
   border-radius: 50px;
 }
 
 .btn{
  cursor: pointer;
  background-color: black;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border-width: 0ch;
  font-size: 20px;
  color: #f2c41f;
}

.btn:hover{
  background-color: rgb(233, 233, 233);
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
